
*{
	margin: 0;
	padding: 0;
	
}

body{
	background-color: #00cfff;
	font-family: 'Roboto', sans-serif;
	font-size: 

}

#header{
	margin-top: 3em;
	position: absolute;
	float: left;
	width: 100%;
	padding-top: 2em;
	height: 12.5vh;
	background-image: url("images/title.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	animation-name: bounce;
  	animation-duration: 4s;
  	animation-iteration-count: infinite;
}

@keyframes bounce {
	0%   		{margin-top: 3em;}
  	50%  		{margin-top: 1em;}
  	100% 		{margin-top: 3em;}
}

#moñeco{
	position: relative;
	float: left;
	padding: 2em;
	margin-top: calc(12.5vh + 6em);
	height: 60vh;
}

#contenedor{
	display: table;
	position: relative;
	float: left;
	padding: 2em 2em 2em 2em;
	margin-top: 0em;


}

#autores{
	display: none;
}

#su_img, #mario_img, #mario_nom, #su_nom{
		position: absolute;
		background-size: contain;
		width: 50%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		float: left;
}

#su_nom{
	background-image: url("images/su_nom.png");
	animation: rotation;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

#mario_nom{
	background-image: url("images/mario_nom.png");
	left: 50%;
	animation: rotation;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

#su_img{
	background-image: url("images/su_img.png");
	z-index: 10;
}

#mario_img{
	background-image: url("images/mario_img.png");
	left: 50%;
	z-index: 10;
}

@keyframes rotation {
	0%   		{transform:rotate(0deg);}
  	50%  		{transform:rotate(180deg);}
  	100% 		{transform:rotate(360deg);}
}

#descripcion{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

li{
	list-style-position: inside;
}

@media (min-width: 1024px){  /*tablet y pc*/

	#contenedor{
		width: 50%;
		float: left;
		margin-top: calc(12.5vh + 6em);
		height: 60vh;
		padding: 2em 2em 2em 4em;
	}

	#moñeco{
		width: 30%;
		float: right;

	}

	#autores{
		display: block;
		margin-left: 2em;
		margin-top: 2em;
		width: 20vw;
		position: absolute;
		height: 15vh;
	}
}
