
*{
	margin: 0;
	padding: 0;
	
}

body{
	background-color: #00cfff;
	font-family: 'Roboto', sans-serif;
	font-size: 

}

#header{
	margin-top: 3em;
	position: absolute;
	float: left;
	width: 100%;
	padding-top: 2em;
	height: 12.5vh;
	background-image: url("images/title.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	animation-name: bounce;
  	animation-duration: 4s;
  	animation-iteration-count: infinite;
}

@keyframes bounce {
	0%   		{margin-top: 3em;}
  	50%  		{margin-top: 1em;}
  	100% 		{margin-top: 3em;}
}

#moñeco{
	position: relative;
	float: left;
	padding: 2em;
	margin-top: calc(12.5vh + 6em);
	width: 90%;
	height: 60vh;
}

#contenedor{
	display: table;
	position: relative;
	float: left;
	padding: 2em 2em 2em 2em;
	margin-top: 0em;


}

#descripcion{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

li{
	list-style-position: inside;
}

@media (min-width: 1024px){  /*tablet y pc*/

	#contenedor{
		width: 50%;
		float: left;
		margin-top: calc(12.5vh + 6em);
		height: 60vh;
		padding: 2em 2em 2em 4em;
	}

	#moñeco{
		width: 30%;
		float: right;

	}
}
